{% extends "elearn/layout.html" %}
{% load static %}
{% block body %}

    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;รายชื่อสมาชิก</h2>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นาย ณัฐภัทร เลี่ยวไพโรจน์   6110613269<br><br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://drive.google.com/file/d/16higRjzQFwMQTIm5gm16OG8PjfSVKRPD/view?usp=sharing">ไฟล์ข้อเสนอ</a><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.pivotaltracker.com/n/projects/2535942">pivotal tracker</a><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/6110613269/CN331Elearning">github</a><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">youtube</a>
    
{%endblock%}